{% extends 'main/base.html' %}



{% block manageCL %}


<div class="container">
    <h2>Add a New Appointment</h2>
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
      
        <div class="mt-3">
          <label class="form-label">case description</label>
          <textarea  class="form-control" name="case_description">{{updated_appointment.case_description}}</textarea>
        </div>
    
        <div class="mt-3">
            <label class="form-label">age</label>
            <input value="{{updated_appointment.patient_age}}" type="number" name="patient_age" class="form-control" />
          </div>
        
          <div class="mt-3">
            <label class="form-label">appointment_datetime</label>
            <input value="{{updated_appointment.appointment_datetime}}"  type="datetime-local" class="form-control" name="appointment_datetime"  />
          </div>

          <div class="mt-3">
            <label class="form-label">is patient attend :</label>
            <select name="is_attended" value="{{updated_appointment.is_attended}}" class="form-select" aria-label="Default select example">
                <option>Open this select menu</option>
                <option value="1" {% if updated_appointment.is_attended == yes %} selected {% endif %}>yes</option>
                <option value="0" {% if updated_appointment.is_attended == no %} selected {% endif %}>no</option>
                
              </select>
            </div>

        
          
    
          <br/>
          <input type="submit" class="btn btn-primary" value="new appointments" />
    
        
    
    </form>
    
    </div>

      {% endblock %}