{% extends "main/base.html" %}
{% load static %}

{% block title %} HOME PAGE {% endblock %}

{% block content %}
<section class="page-section" id="contact">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Add New Clinic</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-plus"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text">
                        <label for="name">clinic name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="Specialization" type="text">
                        <label for="Specialization"> Specialization </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="date" type="date">
                        <label for="date">Established At</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control"  type="file" required id="file">
                        <label for="file">Image</label>
                    </div>
                    <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}