{% extends "main/base.html" %}
{% load static %}

{% block title %} HOME PAGE {% endblock %}

{% block content %}
<section class="page-section" id="contact">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Add New Clinic</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-plus"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form><div class="container">
                    <h2>Add a New Clinic</h2>
                    
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        <div class="mt-3">
                          <label class="form-label">name</label>
                          <input type="text" name="name" class="form-control" />
                        </div>
                        <div class="mt-3">
                            <label>Choose File:</label>
                            <input type="file" name="feature_image" class="form-control"/>
                          </div>
                    
                        <div class="mt-3">
                          <label class="form-label">Description</label>
                          <textarea class="form-control" name="description"></textarea>
                        </div>
                    
                        <div class="mt-3">
                          <label class="form-label">departments</label>
                          <select name="departments" class="form-select" aria-label="Default select example">
                              <option selected>Open this select menu</option>
                              <option value="HeartCenter">Heart Center</option>
                              <option value="NeuroscienceCenter">Neuroscience Center</option>
                              <option value="ObesityCenter">Obesity Center</option>
                              <option value="EyeCenter">Eye Center</option>
                              <option value="OrthopedicCenter">Orthopedic Center</option>
                            </select>
                          </div>
                        
                          <div class="mt-3">
                            <label class="form-label">established_at</label>
                            <input type="date" class="form-control" name="established_at"  />
                          </div>
                    
                          
                    
                          <br/>
                          <input type="submit" class="btn btn-primary" value="New Clinic" />
                    
                        
                    
                    </form>
                    
                    </div>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}