{% extends 'main/base.html' %}
{% load static %}

{% block title %}  {{ clinic.name }} {% endblock %}


{% block content %}
   



 
    <!-- Clinics Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Clinics</h5>
            </div>
            <div class="row g-5">
                {% for clinic in clinics %}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon mb-5">
                            <img src="{{ clinic.feature_image.url }}" class="w-100" />                       
                        </div>
                        <h4 class="mb-3">{{ clinic.name }}</h4>
                        <h6 class="mb-3"> Department: {{ clinic.department }} </h6>
                        <p class="m-0">{{ clinic.description }}</p>
                        <p class="m-0">Established at: {{ clinic.established_at }}</p>
                        <a style="margin-left: -100px; width: 200px;" class="btn btn-lg btn-primary rounded-pill" href="{% url 'main:appointments_page' clinic.id %}">
                            <i class="bi bi-arrow-right">Edit Appointments</i>
                        </a>
                    </div>
                </div>
                {% endfor %}

                
                
            </div>
        </div>
    </div>
    <!-- Clinics End -->







{% endblock %}