{% extends 'main/base.html' %}

{% block title %} Search {% endblock %}

{% block content %}
<div class="container">
    <h2> Search Result !</h2>

    <div class="container">
        <div class="row">
            <div class="row">
                {% for clinic in search_clinic %}
                    <div class="col-3">
                        <div class="p-4 shadow mt-2" style="background-color: darkgray;" >
                            <a href="{% url 'main:clinic_detail' clinic.id %}"><img src="{{ clinic.feature_image.url }}" class="img-responsive w-100" alt="img"></a>
                            <a href="{% url 'main:clinic_detail' clinic.id %}"><h4 style="color: white;">{{ clinic.name }}</h4></a>
                            <div class="transbox mb-2">
                            </div>
                            <h6>{{ clinic.description }}</h6>
                            <h6>{{ clinic.department }}</h6>
                            <h6>Established at: {{ clinic.established_at }}</h6>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>


{% endblock %}