{%extends 'hospital/base.html'%}
{% load static %}


{% block title %}
Details for {{clinic.name }} 
{% endblock %}


{% block content %}

<br>
<div class="container">

    <hr>
 
     <div class="row ">
        <div class="row ">
            <div class="card" style="width: 900px; height: 280px;">
                <div class="card-body" style="color: rgba(71, 71, 71, 0.996);">
                   <h5 class="card-title">{{clinic.name}}</h5>
                  <p class="card-text">{{clinic.description}}</p>
                  <p>{{clinic.department}}   <br> Established_at: {{clinic.established_at}}</p>
                </div>
              </div>
        </div>
        <br><br>
           </div>
           {% if request.user.is_staff %}
           <div class="m-3 d-flex gap-2">
            <a href="{% url 'hospital:delete_clinic' clinic.id %}" class="btn btn-secondary">Delete</a>
            <a href="{% url 'hospital:update_clinic' clinic.id %}" class="btn btn-secondary">Update</a>

           </div>
           {% endif %}
</div>

{% endblock %}