{% extends 'main/base.html' %}

{% block title %} Register New User {% endblock %}


{% block content %}

<div class="container mt-5">
    <h1 class="mt-5 mb-3">Register New user</h1>

    <form method="POST" style="margin-top: 10%" action="">
        {% csrf_token %}
        <h2 class="h3 mb-3 fw-normal">Please Register</h2>
    
        <div class="form-floating mt-2">
            <input name="username" type="text" class="form-control"  placeholder="username">
            <label for="floatingInput">User Name</label>
          </div>

        <div class="form-floating mt-2">
          <input name="email" type="email" class="form-control"  placeholder="name@example.com">
          <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating mt-2">
            <input name="first_name" type="text" class="form-control" id="floatingInput" placeholder="First Name">
            <label for="floatingInput">First Name</label>

          </div>

        <div class="form-floating mt-2">
            <input name="last_name" type="text" class="form-control" id="floatingInput" placeholder="Last Name">
            <label for="floatingInput">Last Name</label>

        </div>

        <div class="form-floating mt-2">
          <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingInput">PassWord</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Register</button>
      </form>

</div>


{% endblock %}